---



let title = 'My Astro Site';
---

<head>    
 <link
        rel="stylesheet"
        href={Astro.resolve("../assets/style/global.css")}
    >
    </head>
<body class="flex  justify-center">
<div class="flex flex-col">

    <h1 class="flex justify-center font-bold text-3xl">Astro Sanity React Tailwind</h1>
    <a class="flex justify-center font-bold mt-10 text-red-500 text-xl bg-black mx-28 rounded-lg" href="/blog">Enter Blog</a>
</div>
  
</body>

